.titles{
    padding: 2%;
    text-align: $txc;
    color: $color-3;
    font-size: $titles;
    font-family: $pomp;
}
.subtitles1{/* para footer */
    padding-top: 20px;
    color: $color-3;
    font-size: $text-gr;
    font-family:$pomp;
    text-align: $txc;
}
.subtitles2{
    text-align: $txc;
    font-family:$ca;
    color: $color-vo;
    font-size: $subtitle1;
    margin-top: 40px;
}
.text{
    @extend .text-proy;
    padding: 20px 40px;
}
.space{
    padding-top: 4%;
}
.center-img{
    margin: 0% 35%;
}

.scale-i :hover{
    transform: scale(1.1, 1.1);
    transition: transform 2s; 
    border-color: $color-2;
}