// fonts pompiere, poppins, caveat
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pompiere&family=Poppins:wght@200&display=swap');

$popp: 'Poppins', sans-serif;
$ca: 'Caveat', cursive;
$pomp: 'Pompiere', cursive;

// tamaños
$text-min: 1.5em;
$text-md: 1.8em;
$text-gr: 2.2em;

$subtitle1: 2.5em;

$titles: 3.5em;

//grueso

$md-grueso: 300;
$gr-grueso: 500;
$ex-grueso: 700;