//css pag index

.header{
    display: flex;
    background-image: url(elementos-pag/fondos/fondo1.jpg);
    flex-direction: column;
    justify-items: center;
}

.h-img{
    border: solid 5px $color-3;
    margin-bottom: 4rem;
    width: 80%;
    height: 60%;
}

.scale-h :hover{
    transform: scale(1.10, 1.10);
    transition: transform 2s;
}

.div-in{
    display: block;
    text-align: $txc;
}
/* grid pag index */
.grid-in{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 40% 20% 20% 10%;
    grid-template-areas: 
    "links-i links-i"
    "head-i head-i"
    "main-i main-i"
    "redes redes"
    "pie pie";
}

.links-i{
    grid-area: nav;
}

.head-i{
    grid-area: header;
}

.main-i{
    grid-area: main;
}

.redes{
    grid-area: aside;
}

.pie{
    grid-area: footer;
} 

//pag nosotros

.text-n{
    padding: 20px 40px;
    color: black;
    font-family:$popp ;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0% 4%;
}

.header2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-back;
}

.img-n{
    border: solid 5px $color-3;
    margin-bottom: 20px;
    width: 80%;
    height: 80%;
}

.img2-n{
    border: solid 5px $color-3;
    margin-top: 5%;
    width: 80%;
    height: 80%;
}

.article1{
    margin-right: 15%;
}