nav{
    background-color: $color-1;
    ul{
        li{
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .4s;
                :hover{
                    color: white;
                    font-weight: $gr-grueso;
                    background-size: 100% 2px;
                    font-size: $subtitle1;
                }
            a{
                font-size: $text-gr;
                color: white;
                font-family: $popp;
                font-weight: $md-grueso;
            }
        }
    }
}

