aside{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: column;
    h6{
        padding-top: 20px;
        color:$color-3;
        font-size: $text-gr;
        font-family:$pomp;
        text-align: center;
    }
    div{
        flex-wrap: row;
        width: 100%;
        justify-content: center;
        margin-left: 35%;
        @media screen and (min-width: 320px) and (max-width: 576px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: 7%;
        }
        img{
            margin: 2%;
            :hover{
            transform: scale(1.10, 1.10);
            transition: transform 2s;
            }
        }
    }
}

footer{
    background-color: $color-1;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 320px) and (max-width: 576px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p{
        padding:20px 40px;      
        font-family:$popp;
        font-size: $text-min;
        font-weight:$ex-grueso;
        color: white;
    }    
    img{
        margin: 20px 30px;
    }    
}