.subtitles1-p{
    text-align: center;
    font-family:'Caveat', cursive;
    color: #17431F;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.img-p{
    border: solid 5px #716B4C;
    width: 80%;
    height: 90%;
}

.img3-p{
    width: 60%;
    height: 70%;
    margin-left: 10%;
    border: solid 5px #716B4C;
}

.text-p{
    color: black;
    font-family:'poppins', sans-serif ;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.text-se{
    color: black;
    font-family:'poppins', sans-serif ;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin: 0% 3%;
}

.cont-p{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .maincell{
        display: flex;
        flex-direction: column;
    }
}

.buttom-p{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 3% 50%;
}

.text-bu{
    color: black;
    font-family:'poppins', sans-serif ;
    font-size: 1.5rem;
    font-weight: 300;
    border-color: #716B4C;
}