.subtitles1-p{
    text-align: center;
    font-family:'Caveat', cursive;
    color: #17431F;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.img-p{
    @extend .img-proy;
    width: 80%;
    height: 90%;
    text-align: center;
}

.img3-p{
    @extend .img-proy;
    width: 60%;
    height: 70%;
    margin-left: 10%;
}

.text-p{
    @extend .text-proy;
    text-align: center;
}

.text-se{
    @extend .text-proy;
    text-align: center;
    margin: 0% 3%;
}

.cont-p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .maincell{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .form-cell{
        display: flex;
        flex-direction: column;
    }
}

.buttom-p{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 3% 50%;
}

.text-bu{
    @extend .text-proy;
    border-color: $color-3;
}