// css tips 

.main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.article-t{
    display: block;
    text-align: center;
}

.text-t{
    @extend .text-proy;
    text-align: center;
    margin: 2% 5%;
}

.img-t{
    height: 400px;
}

.section-t{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.box-t{
    margin: 2% 15%;
}

.div-t{
    flex-direction: row;
    text-align: center;
}

.input-t{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin: 1% 3%;
}

//css contacto 

.co-img{
    display: block;
    text-align: center;
}

.img-c{
    width: 60%;
    height: 50%;
    border: solid 5px #716B4C;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .tips-cell{
        display: flex;
        flex-direction: column;
    }
}